<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Kaapelikartta</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
      min-width: 30px;
      text-align: center;
    }
    </style>
</head>

<body>
  <!-- 
    Jos käyttäjä on kirjautunut, näytetään käyttäjälle 
    määritetty nimi ja logout -nappi 
  -->
  {% if current_user.is_authenticated %}
    <p>
      Kirjautunut nimellä {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
    </p>
    <!-- Muutoin näytetään käyttäjälle login -nappi -->
  {% else %}
    <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
    <a href="{{ url_for('auth_register') }}">Rekisteröidy</a>
  {% endif %}

  <ul>
    <li><a href="{{ url_for('routes_index') }}">List routes</a></li>
    <li><a href="{{ url_for('controllers_index') }}">List controllers</a></li>
    <li><a href="{{ url_for('cables_index') }}">List cables</a></li>
  </ul>

  {% block body %}
  <p>
    Content.
  </p>
  {% endblock %}
</body>

</html>