{% extends "layout.html" %}

{% block body %}
<!--
  Saa parametreiksi: 
    cables/models.py:  CableListModel[] cables
-->
  <table>
    <tr>
      <th>Cable</th>
      <th>Note</th>
      <th>Controller A</th>
      <th>Controller B</th>
      <th>Size</th>
    </tr>
    {% for cable in cables %}
    <tr>
      <td>{{ cable.cable.name }}</td>
      <td>{{ cable.cable.note }}</td>
      <td>{{ cable.controller_a_name }}</td>
      <td>{{ cable.controller_b_name }}</td>
      <td>{{ cable.cable.size }}</td>
      <td>
        <form method="GET" action="{{ url_for('cables_view_one', cable_id=cable.cable.id) }}">
          <input type="submit" value="View"/>
        </form>
      </td>
      {% if current_user.is_authenticated %}
      <td>
        <form method="GET" action="{{ url_for('cables_edit_one', cable_id=cable.cable.id) }}">
          <input type="submit" value="Edit"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
    
  <ul>
    <li><a href="{{ url_for('cables_create') }}">Add a cable</a></li>
  </ul>
{% endblock %}