{% extends "layout.html" %}

{% block body %}
<!--
  Saa parametreiksi: 
    controllers/forms.py: ControllerForm form
-->
<form method="POST" action="{{ url_for('controllers_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.note.label }}
      </td>
      <td>
        {{ form.note }}
      </td>
      <td>
        <ul>
          {% for error in form.note.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.x.label }}
      </td>
      <td>
        {{ form.x }}
      </td>
      <td>
        <ul>
          {% for error in form.x.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.y.label }}
      </td>
      <td>
        {{ form.y }}
      </td>
      <td>
        <ul>
          {% for error in form.y.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Add a new controller" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}